@use '../variables.scss' as *;

// src/styles/common/Layout.scss
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow: hidden;
  background: $background-color;
}
