@use '../variables.scss' as *;

// src/styles/common/Sidebar.scss
.common-sidebar {
  width: 240px;
  background: $card-background;
  border-right: $border-width-thin solid $border-color;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.sidebar-header {
  padding: $spacing-4;
  border-bottom: $border-width-thin solid $border-color-light;
  height: $topnav-height;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sidebar-header h3 {
  margin: 0;
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
  color: $color-text-regular;
  text-align: left;
}

.sidebar-content {
  flex: 1;
  overflow-y: auto;
  padding: $spacing-2;
}
