@use '../variables.scss' as *;

.models-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: $color-background-base;
}

.models-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.models-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
